# folder
recap-backend/
.firebase/
addons/



# file
serviceAccountKey.json
localRunner.bat
firestore.indexes.json
m.py
SLIDER_CAPTCHA_IMPLEMENTATION.md
TERMS_AND_CONDITIONS_IMPLEMENTATION.md
test_slider.py